@import 'scss/reset';
@import 'scss/config';
@import 'scss/Timeline';
@import 'scss/AddEntry';
@import 'scss/DisplayMemory';


.logo{
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: $font-color-accent
}

.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

















